html {
    font-size: 1vw;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(104, 94, 187);
    color: #fff;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

/* title-area */
.title-area {
    position: absolute;
    top: 3rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.title-area .title {
    font-size: 4rem;
    margin-bottom: 0.5em;
}

/* clock */
.clock {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    border: 0.5rem solid #fff;
    border-radius: 50%;
}
.clock .clock-face {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.clock .clock-face .hand {
    transform-origin: right center;
    position: absolute;
    width: 50%;
    height: 0.5rem;
    background: #000;
    transform: rotate(90deg);
    transition-duration: 0.05s;
    transition-timing-function: cubic-bezier(0.29, 2.09, 0.58, 1);
}

